body{
  margin:auto;
  background-color: #F4F4F4;
}
h1{
  margin:0;
  display: inline-block;
}
h2{
  margin: auto;
  cursor: pointer;
}
#header{
  top: 0;
  height: 80px;
  width: 100%;
  color: black;
  background-color: #A1BDDB;
  border:none;
  padding-top: 0px;
  margin:0;
  font-size: 28px;
  box-shadow: 0px 5px 0px 0x;
  margin-bottom: 10px;
}

#header input[type=text] {
  padding: 6px;
  margin:0;
  border: none;
  margin-right: 16px;
  font-size: 17px;
}
#container{
  width: 750px;
  height: auto;
  margin:auto;
  border: 1px solid black;
  margin-bottom: 60px;
}
div{
  width: 650px;
  margin:auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0px 5px 0px 0px rgb;
}
.Article{
  width: 600px;
}
.content{
  text-align: justify;
  overflow: auto;
  display:none;
  width: 590px;
}
#tabellen{
  text-align: center;
  width: 500px;
}

input{
  margin-bottom: 10px;
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: black;
  background-color: #A1BDDB;
  border:none;
  height: 80px;
  padding-top: 0px;
  margin:0;
  font-size: 28px;
  box-shadow: 0px 5px 0px 0x;
}
::selection{
  background: #A1BDDB;
  color: #fff;
}
